.fixed-position {
    position: fixed;
    width: 25%;
}

.normal-scrollable {
    float: right;
    width: 75%;
}

body {
    background-color: #ffffff;
    color: #aeacb0;
}

body h1,
body h2,
body h3 {
    color: #b6e7e3;
}

section#mainContentSection {
    padding-bottom: 10px;
}

section#sidebar {
    color: #c2c2c3;
    height: 100%;
    background: #68696b url("/img/sidebar_bg.jpg") no-repeat center top;
    background-size: cover;
}

div#imagesContainer {
    position: relative;
}

div#imagesContainer div.image.grid-item {
    width: 30%;
    position: relative;
    border: 1px solid #adb1b6;
    margin-bottom: 10px;
}

div#imagesContainer div.image.grid-item img {
    width: 100%;
}

#loadingBar {
    text-align: center;
    display: block;
    height: 40px;
    width: 100%;
    position: relative;
}

#loadingBar img {
    display: block;
    width: 40px;
    margin: 0 auto 10px auto;
}