/*
* GENERAL STYLES
*/
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    color: #aeacb0;
}

div.container.main {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

heading.main {
    width: 100%;
    text-align: center;
    background: #fff;
}

heading.main.sticky {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    z-index: 5;
}

section.filters.main {
    width: 100%;
    position: relative;
    text-align: center;
}

section.content.main {
    position: relative;
}

/*
* MASONRY STYLES
*/

div#imagesContainer {
    position: relative;
}

.gutter-sizer {
    width: 1%;
}

.grid-sizer,
.grid-item {
    width: 24.2%;
}

div#imagesContainer article.image.grid-item {
    position: relative;
    margin-bottom: 10px;
}

div#imagesContainer article.image.grid-item img {
    width: 100%;
    border: 1px solid #44464A;
}

div#imagesContainer article.image.grid-item footer {
    width: 100%;
    background: #44464A;
    color: #fff;
    padding: 0.1em 0.4em;
}

#flickrLoadingBar {
    text-align: center;
    display: block;
    height: 40px;
    width: 100%;
    position: relative;
}

#flickrLoadingBar img {
    display: block;
    width: 40px;
    margin: 0 auto 10px auto;
}

/*
* Start mobile friendly from here..?
*/
@media only screen and ( max-width: 1000px )
{
    .gutter-sizer {
        width: 1%;
    }

    .grid-sizer,
    .grid-item {
        width: 32.7%;
    }
}

@media only screen and ( max-width: 640px )
{
    .gutter-sizer {
        width: 2%;
    }

    .grid-sizer,
    .grid-item {
        width: 49%;
    }
}

@media only screen and ( max-width: 320px )
{
    .gutter-sizer {
        width: 0%;
    }

    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}